.container-page {
    background-color: #1E2D3B;
}
img, select {
    height: 60px;
    margin: 10px auto;
}
.card-page {
  width: 90% !important;
  margin: auto !important;
}
.contents {
  padding: 1rem;
  background-color: #2E3A46;
  height: 100%;
  }
.details {
  color: #81807B;
  }
  .title {
    color:white;
    text-transform: uppercase;
    }
/* img, select {
    height: 60px;
    margin: 10px 20px;
}
.container-page {
  background-color: ;
}
.card-page {
  width: 80%;
  margin: auto;
}    
.contents {
padding: 1rem;
background-color: #2E3A46;
height: 100%;
}
.title {
color:white;
text-transform: uppercase;
}
.details {
color: #81807B;
} */
